*{
	margin:0;
	padding:0;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
  }
  .background-img{
	width: 100vw;
	min-height: 100vh; 
	position:fixed;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 50%;
  }
  
  .card-wrapper{
	min-height: 450px;
	min-width: 350px;
	border-radius: 10px;
	position:absolute;
	left: 50%;
	bottom: 30;
	margin-top: 30px;
	transform: translateX(-50%);
	background:rgba(255,255,255,0.3);
	backdrop-filter: blur(13px);
	box-shadow: 0 0 20px -2px black;
	display:flex;
	justify-content:center;
	flex-direction: column;
	padding: 20px 0;
	color: rgba(18,18,18,0.85);
  }
  
  .call-to-action{
	text-align:center;
	padding: 10px 0;
  }
  .card-wrapper form{
	display:flex;
	flex-direction:column;
  }
  .card-wrapper form .field{
	width: 100%;
	position: relative;
	font-size: 18px;
	padding: 7px 30px;
	white-space: no-wrap;
  }
  .card-wrapper form .field::after{
	content : "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	height: 1px;
	width: 85%;
	padding-top: 5px;
	border-top:1px solid rgba(18,18,18,0.6);
  }
  .card-wrapper form a{
	margin-right: 10%;
	margin-top: 10px;
	text-align: right;
	font-size: 16px;
	text-decoration:none;
	color:rgba(18,18,18,0.7);
	cursor: pointer;
	
  }
  
  .card-wrapper form a span{
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
  }
  .card-wrapper form a:hover span{
	color: #121212;
	border-bottom-color: #121212;
  }
  .card-wrapper form .field i{
	font-size: 22px;
	height: 30px;
	width: 30px;
	vertical-align: middle;
	text-align:left;
  }
  .card-wrapper form .field label{
	width: 100%;
	font-size: 17px;
	margin-bottom: 20px;
	line-height: 30px;
  }
  
  .card-wrapper form .field input{
	border: 0;
	background: transparent;
	padding:0 5px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	height: 30px;
	width: calc(100% - 50px);
	vertical-align: middle;
  }
  .card-wrapper form .field input:focus{
	outline:none;
  }
  .card-wrapper form .field input::placeholder{
	color: rgba(18,18,18,0.7);
  }
  
  #login-button{
	margin: 20px 0;
	width: 80%;
	height: 40px;
	border-radius: 20px;
	border:none;
	background: rgba(255,255,255,0.2);
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: all 0.3s ease;
  }
  #login-button:hover{
	background: rgba(18,18,18,0.3);
	color: rgba(255,255,255,0.8);
  }
  
.main-bg{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.main-bg button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
	cursor: pointer;
	margin: 20px;
	width: 300px;
	height: 60px;
}
.main-bg button:hover {
    color: #001F3F;
    background-color: #fff;
}